Lesson_1_NodeJs_MySQL/
Lesson_1_NodeJs_MySQL_/node_modules/

Lesson_2_Countries/node_modules/
Lesson_2_Countries/Server/Database/password.js

Lesson_3_Sequelizer/node_modules/
Lesson_3_Sequelizer/Server/Database/password.js